Version1/Plots
Version2/Plots
Version2/Results
Version3/Plots
Version3/Results
Version4/Plots
Version4/Results
Version4/__pycache__
Version4/.ipynb_checkpoints
Version3/__pycache__
Version3/.ipynb_checkpoints
Version2/__pycache__
Version2/.ipynb_checkpoints

